     * {
         margin: 0;
         padding: 0;
     }
     
     body {
         background-color: hsla(0, 0%, 95%, 0.906);
         background-size: cover;
     }
     
     #header {
         border-style: none;
         color: rgb(63, 64, 70);
         background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
     }
     
     #header h1 {
         border-style: none;
         text-align: center;
         color: rgb(63, 64, 70);
         display: inline-block;
         float: right;
     }
     
     #header h1:hover {
         border-style: none;
         text-align: center;
         color: rgb(63, 64, 70);
         display: inline-block;
         float: right;
         transition: 3s;
         font: 1rem 'Fira Sans', sans-serif;
     }
     
     #header label {
         display: inline;
         font: 1rem 'Fira Sans', sans-serif;
         margin-left: 45%;
     }
     
     input {
         margin: .4rem 0;
         padding: .3rem;
         height: auto;
         width: 350px;
     }
     
     #header a {
         margin: 12px 15px 40px 0;
         float: left;
         color: blanchedalmond;
         font: 1rem 'Fira Sans', sans-serif;
         display: inline-block;
     }
     
     @media screen and (max-width: 600px) {
         #header input,
         label {
             float: none;
             display: inline-block;
         }
         #header h1 {
             font-size: 12px;
             display: inline-block;
             text-align: center;
             float: center;
         }
     }
     /* sidebar */
     
     .sidebar {
         margin: 0;
         padding: 0;
         width: 200px;
         background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
         position: fixed;
         height: 100%;
         overflow: auto;
         font: 1rem 'Fira Sans', sans-serif;
     }
     
     .sidebar a {
         display: block;
         color: rgb(63, 64, 70);
         padding: 10px;
         text-decoration: none;
     }
     
     ul li {
         padding: 12px 10px;
     }
     
     .main #Introduction {
         font-size: 16px;
         display: block;
         padding: 0;
         margin: 10px 500px 20px;
         text-align: center;
         background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #301b05), url(./images/IDMS.png);
     }
     
     .main #Introduction p:hover {
         box-shadow: 0 0 0 .2rem skyblue;
         color: whitesmoke;
         background-color: rgba(3, 9, 41, 0.932);
         border-radius: 5px;
         transition: 1s;
         transform: translate(0, 50%);
     }
     
     .main #Introduction p {
         background: white;
         background-size: cover;
         color: rgb(63, 64, 70);
         text-align: left;
         font: 1rem 'Fira Sans', sans-serif;
         box-shadow: 2px 3px 4px rgba(0, 255, 42, .5);
     }
     /* forms */
     
     .forms .form {
         display: inline-block;
         padding: 0;
         margin: 30px 500px 20px;
         text-align: center;
         background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #301b05), url(./images/IDMS.png);
     }
     
     .forms .form p {
         background: white;
         background-size: cover;
         color: rgb(63, 64, 70);
         text-align: left;
         font: 1rem 'Fira Sans', sans-serif;
         box-shadow: 2px 3px 4px rgba(0, 255, 42, .5);
         justify-content: right;
     }
     
     .forms .form p:hover {
         box-shadow: 0 0 0 .2rem skyblue;
         color: whitesmoke;
         background-color: rgba(3, 9, 41, 0.932);
         border-radius: 5px;
         transition: 1s;
         transform: translate(0, 50%);
     }
     
     .forms .form img {
         width: 50%;
         padding-top: 20px;
         margin: 0 450px 0 0;
     }
     
     .forms .form #formsp {
         background: white;
         background-size: cover;
         color: rgb(63, 64, 70);
         text-align: left;
         font: 1rem 'Fira Sans', sans-serif;
         box-shadow: 2px 3px 4px rgba(0, 255, 42, .5);
         display: inline;
         left: 55%;
         position: fixed;
         margin-top: 50px;
     }
     
     .forms .form #formsp:hover {
         box-shadow: 0 0 0 .2rem skyblue;
         color: whitesmoke;
         background-color: rgba(3, 9, 41, 0.932);
         border-radius: 5px;
         transition: 1s;
         transform: translate(0, 50%);
     }